.title {
    font-size: xx-large;
}
.mr-3 {
    width: 300px;
}
.media-body-final {
    display: grid;
    grid-column: 2;
    grid-row: 2;
}
.mt-0 {
    font-size: xx-large;
}
.h5 {
    font-size: xx-large;
}
.h4 {
    font-size: large;
}